// TUTORIAL - https://www.youtube.com/watch?v=bSG2YMqJJys&list=PLillGF-RfqbYhQsN5WMXy6VsDMKGadrJ-&index=4 

// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
// $blue: #3490dc;
// $indigo: #6574cd;
// $purple: #9561e2;
// $pink: #f66D9b;
// $red: #e3342f;
// $orange: #f6993f;
// $yellow: #ffed4a;
// $green: #38c172;
// $teal: #4dc0b5;
// $cyan: #6cb2eb;

$tp-blue: #215a96;
$light-blue: #e7ecef;
$sky-blue: #a3cef1;
$orange: #ff8c42;
$dark-blue: #2d3047;